<!DOCTYPE html>
<html lang="es">
   <head>
      <!-- Standard Meta -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
      <meta name="author" content="Ronald Bernal">
      
      {% block head %}
      {% endblock %}

      {% load staticfiles %}
      <!-- Semantic UI Core CSS -->
      <link rel="stylesheet" type="text/css" href="{% static "assets/semantic/css/semantic.css" %}">
      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{% static "assets/semantic/css/custom.css" %}">
      <!-- Custom Fonts -->
      <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Kaushan+Script'>
   </head>

   <body>
   <!-- navbar begins -->
   <div class="navbar">
      <div class="ui blue inverted large menu side-padding">
         <div class="left menu">
            <a href="/" class="item">
               <img class="ui image" src="{% static "assets/bootstrap/img/nav_logo_s.png" %}">   
            </a>
         </div>
         <div class="right menu top-padding">
            <a href="/#articles" class="item">
               ARTÍCULOS
            </a>
            <a href="/#videos" class="blue item">
               VIDEOS
            </a>
            <a href="/#vipZone" class="blue item">
               VIP
            </a>
            <a href="/#videos" class="blue item">
               ACERCA DE NOSOTROS
            </a>
         </div>
      </div>
   </div>
   <!-- navbar ends -->

   {% block content %}{% endblock %}

   <div class="ui footer divider"></div>
   <footer>
        <div class="container">
            <div class="ui two column grid">
               <div class="left floated column">
                  <span class="copyright">Marca Registrada &reg; 2015</span>
               </div>
               <div class="right floated right aligned column">
                  <div class="ui horizontal link list">
                     <a class="item" href="#">Política de Privacidad</a>
                     <a class="item" href="#">Términos de uso</a>
                  </div>
               </div>
            </div>
        </div>
    </footer>

   <script type="text/javascript" src="{% static "assets/semantic/js/jquery.js" %}"></script>

   <!-- Used with Tab History !-->
   <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
   <script type="text/javascript" src="{% static "assets/semantic/js/semantic.js" %}"></script>
   <script type="text/javascript" src="{% static "assets/semantic/js/custom.js" %}"></script>
   {% block scripts %}{% endblock %}
</body>
</html>