{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
   <meta name="description" content="Product detail view">
   <title>{{title}}</title>
{% endblock head %}

{% block content %}
   <div class="container">
      <div class="ui large breadcrumb">
         <a href="/profile/" class="section">Perfil</a>
         <i class="right chevron icon divider"></i>
         <a href="/profile/#products" class="section">Productos</a>
         <i class="right chevron icon divider"></i>
         <div class="active section">{{product.name}}</div>
      </div>
      <div class="ui hidden divider"></div>
      <div class="ui two column equal height divided grid">
         <div class="column">
            <div class="ui piled segment">
               <img class="ui centered image" src="{{MEDIA_URL}}{{product.image}}">
            </div>
            <div class="ui five column equal height grid">
               <div class="column">
                  <img class="ui small image" src="{% static "assets/img/image.png" %}">
               </div>
               <div class="column">
                  <img class="ui small image" src="{% static "assets/img/image.png" %}">
               </div>
               <div class="column">
                  <img class="ui small image" src="{% static "assets/img/image.png" %}">
               </div>
               <div class="column">
                  <img class="ui small image" src="{% static "assets/img/image.png" %}">
               </div>
               <div class="column">
                  <img class="ui small image" src="{% static "assets/img/image.png" %}">
               </div>
            </div>
         </div>

         <div class="column">
            <div class="ui raised segment">
               <div class="sizer">
                 <div class="ui huge dividing header">{{product.name}}</div>
                 <div class="ui large header">{{org_name}}</div>
                 <div class="ui medium header">Descripción</div>
                 <div class="justified description">
                     <p>{{product.description}}</p>
                  </div>
                  <div class="ui hidden divider"></div>
                  <div class="ui centered grid">
                     <div class="cloumn">
                        <div class="ui yellow label">
                           Cantidad Mínima
                           <div class="detail">{{product.minimum_sale}}</div>
                        </div>
                        <div class="ui green tag label">
                           ${{product.unit_price}}
                           <div class="detail">C/U</div>
                        </div>
                     </div>
                  </div>
                  <div class="ui hidden divider"></div>
               </div>
            </div>
            <div class="ui raised segment">
               <div class="ui large header">Información de contacto</div>
               <div class="info">
                  <h4>
                     <i class="user icon"></i>Contacto: 
                  </h4>
                  {{contact}}
                  <h4>
                     <i class="call icon"></i>Teléfono: 
                  </h4>
                  {{phone}}
                  <h4>
                     <i class="marker icon"></i>Ubicación: 
                  </h4>
                  {{address}}
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock content %}